

/* CSS For DatePicker  */
.picker { outline: none; } /* Optional feature */
.picker__box {
  background-color: #fafafa;
}
/* Header - Day of the week */
.picker__weekday-display { 
    background-color: #424242;
    font-weight: 600;
    color: #fafafa;
  }

/* Body - Today info */
.picker__date-display { background-color: #616161; }
/* Buttons of actions */
.picker__nav--prev:hover { background-color: #eeeeee; }
.picker__nav--next:hover { background-color: #eeeeee; }
.picker__nav--prev:before {
  border-left: 0;
  border-right: 0.75em solid #616161;
}
.picker__nav--next:before {
  border-right: 0;
  border-left: 0.75em solid #616161;
}
.picker__today { color: #424242; }
.picker__clear { color: #f44336; }
.picker__clear:hover { color: #f44336; background-color: #ffcdd2; }
.picker__close { color: #424242; }
.btn-flat.picker__today:active { background-color: #fff3e0; }
.btn-flat.picker__close:active { background-color: #fff3e0; }
.btn-flat.picker__clear:active { background-color: #fff3e0; }
/* Select months of the year */
.picker__select--month.browser-default {
  display: inline;
  background-color: #FFFFFF;
  width: 34%;
  border: none;
  outline: none;
}
/* Every month of the year except: today */
.picker__day { /* If you want to customize */ }
.picker__day:hover { /* If you want to customize */ }
.picker__day--infocus:hover { color: #212121; background-color: #eeeeee;}
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected { 
    color: #fafafa;
    font-weight: 700;
}
.picker__day.picker__day--infocus.picker__day--selected.picker__day--highlighted { background-color: #616161; }
/* Today */
.picker__day.picker__day--infocus.picker__day--today.picker__day--selected.picker__day--highlighted { background-color: #616161; }
.picker__day.picker__day--today 
{ color: #000000;
  font-weight: 700; }