/* label focus color */
 .input-field input:focus + label {
   color: #90a4ae !important;
 }
 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid #90a4ae !important;
   box-shadow: 0 1px 0 0 #90a4ae !important
 }


 .input-field textarea:focus + label {
   color: #90a4ae !important;
 }
 /* label underline focus color */
 .row .input-field textarea:focus {
   border-bottom: 1px solid #90a4ae !important;
   box-shadow: 0 1px 0 0 #90a4ae !important
 }

 .input-field input[type=text] {
     color: #90a4ae;
 }

ul.dropdown-content.select-dropdown li span {
    color: #90a4ae !important; /* no need for !important :) */
}

.dropdown-content {
  max-height: 300px;
}

.dropdown-content li {
  min-height: 25px;
  line-height: 1rem;
}

.dropdown-content li > a, .dropdown-content li > span {
  font-size: 15px;
  line-height: 16px;
  color: #90a4ae !important;
  padding: 12px 14px;
}


[type="checkbox"]:checked + label:before {
  border-right: 2px solid #90a4ae;
  border-bottom: 2px solid #90a4ae;
}

[type="checkbox"]:indeterminate + label:before {
  border-left: none;
  border-right: 2px solid #90a4ae;
}

[type="checkbox"].filled-in:checked + label:after {
  border: 2px solid #90a4ae;
  background-color: #90a4ae;
}

[type="checkbox"].filled-in.tabbed:checked:focus + label:after {
  background-color: #90a4ae;
  border-color: #90a4ae;
}
