.address {
  height: 150px;
  overflow: auto;
}

.board-exam {
  height: 290px;
  overflow: auto;
}

.cgpa {
  height: 530px;
  overflow: auto;
}

.board-exam-fields {
	width:35%;
}

.board-exam-content {
	width:65%;
}