{% extends 'base.html' %}

{% block title %} Add Company {% endblock %}

{% block custom_css %}
  <link type="text/css" rel="stylesheet" href="/static/css/materialize-clockpicker.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="/static/css/company/add.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="/static/css/datepicker.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="/static/css/form.css" media="screen,projection" />
{% endblock %}


{% block body_block %} 

<div id="content" style="min-height: calc(100vh - 120px);">
    <div class="container">
        <div class="section"> </div>
        <div class="row">
            <h4> {{ company_form.non_field_errors }} </h4>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card grey lighten-5 grey-text text-darken-2 z-depth-2 hoverable">
                    <div class="card-content grey darken-2 grey-text text-lighten-5 z-depth-2">
                      <span class="card-title">Company Information</span>
                    </div>
                    
                    <div class="section"> </div>
                    <div class="row">
                        <div class="input-field col s8 offset-s2 m4 offset-m1">
                            <label for="{{ company_form.name.id_for_label }}""> {{ company_form.name.label }}</label>
                            {{ company_form.name }}
                        </div>
                        <div class="input-field col s8 offset-s2 m4 offset-m2">
                            {{ company_form.crpdate }}
                            <label for="{{ company_form.crpdate.id_for_label }}" data-error="{{ company_form.crpdate.errors }}"> {{ company_form.crpdate.label }}</label>
                        </div>
                    </div>

                    <ul class="collapsible popout" data-collapsible="accordion"> 
                        <li>  
                            <div class="collapsible-header grey lighten-5 grey-text text-darken-2 waves-effect hoverable">
                                <span class="col offset-m5">
                                    <i class="material-icons right">expand_more</i>
                                    <strong> ADD MORE DETAILS </strong>
                                </span>
                            </div>

                            <div class="collapsible-body z-depth-1"> 
                                <div class="row">
                                    <div class="input-field col s8 offset-s2 m4 offset-m1">
                                        {{ company_form.about }}
                                        <label for="{{ company_form.about.id_for_label }}" data-error="{{ company_form.about.errors }}"> {{ company_form.about.label }}</label>
                                    </div>

                                    <div class="input-field col s8 offset-s2 m4 offset-m2">
                                        {{ company_form.infra_req }}
                                        <label for="{{ company_form.infra_req.id_for_label }}" data-error="{{ company_form.infra_req.errors }}"> {{ company_form.infra_req.label }}</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s8 offset-s2 m4 offset-m1" id="down_left">
                                        {{ company_form.website }}
                                        <label for="{{ company_form.website.id_for_label }}" data-error="{{ company_form.website.errors }}"> {{ company_form.website.label }}</label>
                                    </div>

                                    <div class="input-field col s8 offset-s2 m4 offset-m2">
                                        {{ company_form.other }}
                                        <label for="{{ company_form.other.id_for_label }}" data-error="{{ company_form.other.errors }}"> {{ company_form.other.label }}</label>
                                    </div>
                                </div>
                            </div> 
                        </li>
                    </ul>        
                </div>

                <div class="section"> </div>

                <div class="card grey lighten-5 z-depth-2 hoverable">
                    <div class="card-content grey darken-2 grey-text text-lighten-5 z-depth-2">
                      <span class="card-title">Job Information</span>
                    </div>
                    <div class="section"> </div>
                    <div class="row">
                        <div class="input-field col s8 offset-s2 m4 offset-m1">
                            {{ job_form.designation }}
                            <label for="{{ job_form.designation.id_for_label }}" data-error="{{ job_form.designation.errors }}"> {{ job_form.designation.label }}</label>
                        </div>

                        <div class="input-field col s8 offset-s2 m4 offset-m2">
                            {{ job_form.ctc }}
                            <label for="{{ job_form.ctc.id_for_label }}" data-error="{{ job_form.ctc.errors }}"> {{ job_form.ctc.label }}</label>
                        </div>
                    </div>

                     <div class="row">
                        <div class="input-field col s8 offset-s2 m4 offset-m1">
                            {{ job_form.job_type }}
                            <label for="{{ job_form.job_type.id_for_label }}" data-error="{{ job_form.job_type.errors }}"> {{ job_form.job_type.label }}</label>
                        </div>

                        <div class="input-field col s8 offset-s2 m4 offset-m2">
                            {{ job_form.category }}
                            <label for="{{ job_form.category.id_for_label }}" data-error="{{ job_form.category.errors }}"> {{ job_form.category.label }}</label>
                        </div>
                    </div>
                    
                    <ul class="collapsible popout" data-collapsible="accordion"> 
                        <li>  
                            <div class="collapsible-header grey lighten-5 grey-text text-darken-2 waves-effect hoverable">
                                <span class="col offset-m5">
                                    <i class="material-icons right">expand_more</i>
                                    <strong> ADD MORE DETAILS </strong>
                                </span>
                            </div>
                            <div class="collapsible-body"> 
                                <div class="row">
                                    <div class="input-field col s8 offset-s2 m4 offset-m1">
                                        {{ job_form.description }}
                                        <label for="{{ job_form.description.id_for_label }}" data-error="{{ job_form.description.errors }}"> {{ job_form.description.label }}</label>
                                    </div>

                                    <div class="input-field col s8 offset-s2 m4 offset-m2">
                                        {{ job_form.requirements }}
                                        <label for="{{ job_form.requirements.id_for_label }}" data-error="{{ job_form.requirements.errors }}"> {{ job_form.requirements.label }}</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s8 offset-s2 m4 offset-m1">
                                        {{ job_form.perks }}
                                        <label for="{{ job_form.perks.id_for_label }}" data-error="{{ job_form.perks.errors }}"> {{ job_form.perks.label }}</label>
                                    </div>
                                    <div class="input-field col s8 offset-s2 m4 offset-m2">
                                        {{ job_form.ctc_details }}
                                        <label for="{{ job_form.ctc_details.id_for_label }}" data-error="{{ job_form.ctc_details.errors }}"> {{ job_form.ctc_details.label }}</label>
                                    </div>
                                </div>
                            </div> 
                        </li>
                    </ul> 


                    <div class="row">
                        <div class="input-field col s8 offset-s2 m4 offset-m1">
                            {{ job_form.eligibility_criteria }}
                            <label for="{{ job_form.eligibility_criteria.id_for_label }}" data-error="{{ job_form.eligibility_criteria.errors }}"> {{ job_form.eligibility_criteria.label }}</label>
                        </div>

                        <div class="input-field col s8 offset-s2 m4 offset-m2">
                            {{ job_form.other }}
                            <label for="{{ job_form.other.id_for_label }}" data-error="{{ job_form.other.errors }}"> {{ job_form.other.label }}</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s8 offset-s2 m4 offset-m1" id="eligible_branches">
                            {{ job_form.eligible_branches }}
                            <label for="{{ job_form.eligible_branches.id_for_label }}" data-error="{{ job_form.eligible_branches.errors }}"> {{ job_form.eligible_branches.label }}</label>
                        </div>

                        <div class="input-field col s8 offset-s2 m4 offset-m2">
                            {{ job_form.selection_procedure }}
                            <label for="{{ job_form.selection_procedure.id_for_label }}" data-error="{{ job_form.selection_procedure.errors }}"> {{ job_form.selection_procedure.label }}</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s8 offset-s2 m4 offset-m1">
                            {{ job_form.bond_details }}
                            <label for="{{ job_form.bond_details.id_for_label }}" data-error="{{ job_form.bond_details.errors }}"> {{ job_form.bond_details.label }}</label>
                        </div>

                        <div class="input-field col s8 offset-s2 m4 offset-m2">
                            {{ job_form.number_of_selections }}
                            <label for="{{ job_form.number_of_selections.id_for_label }}" data-error="{{ job_form.number_of_selections.errors }}"> {{ job_form.number_of_selections.label }}</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s8 offset-s2 m4 offset-m1">
                            <div class="row" id="job_location_formset">
                                    <div class="col s12 element">
                                        <i class="material-icons grey-text text-darken-2" href="javascript:void(0)" style="margin-top: 35px;">place</i>
                                        <div class="input-field right">
                                          <input type="text" id="id_job_location_form-0-location" name="location">
                                          <label for="id_job_location_form-0-location"> Location </label>
                                        </div>
                                    </div>
                            </div>

                            <div class="row" id="empty_form" style="display: none;">
                                <input type="hidden" id="id_job_location-TOTAL_FORMS" value="1">
                                <div class="col s12 element">
                                    <i class="material-icons red-text remove activator" href="javascript:void(0)" style="margin-top: 35px;">clear</i>
                                    <div class="input-field right">
                                        <input type="text" id="id_job_location-__prefix__-location"" name="location">
                                        <label for="id_job_location-__prefix__-location""> Location </label>
                                    </div>
                                </div>
                            </div>

                            <span class="right">
                                <span style="font-size: 12px;"> Add more locations &nbsp; &nbsp;</span>
                                <a id="add_more" class="btn-floating btn waves-effect waves-light grey darken-2">
                                    <i class="material-icons">add</i>
                                </a>
                            </span>
                            <div class="row">
                              <div class="col s8 offset-s2 m4 offset-m1">
                                  <div class="row">
                                      <div class="col s12">
                                      </div>
                                  </div>
                              </div>
                              
                              <div class="col s8 offset-s2 m4 offset-m2">
                                  <div class="row">
                                      <div class="col s12">
                                      </div>
                                  </div>
                              </div>
                          </div>
                        </div>


                        <div class="col s8 offset-s2 m4 offset-m2">
                            <div class="row" id="attachment_formset">
                                <input type="hidden" id="id_attachment-TOTAL_FORMS" name="id_attachment-TOTAL_FORMS" value="1">
                                    <div class="col s12 element">
                                        <i class="material-icons grey-text text-darken-2 left" style="margin-top: 25px;">attach_file</i>
                                        <div class="file-field input-field">
                                             <div class="waves-effect waves-light btn grey darken-2 grey-text text-lighten-5">
                                                Attach Files <span class="filename">
                                                {{ attachment_form.file }}
                                           </span>
                                            </div>
                                            <span class="col s10 offset-s1" class="truncate" style="padding-top: 12px;"> No file chosen </span>
                                        </div>
                                    </div>
                            </div>

                            <div class="row">
                              <div class="col s8 offset-s2 m4 offset-m1">
                                  <div class="row">
                                      <div class="col s12">
                                      </div>
                                  </div>
                              </div>
                              
                              <div class="col s8 offset-s2 m4 offset-m2">
                                  <div class="row">
                                      <div class="col s12">
                                      </div>
                                  </div>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="section"> </div>

                <div class="card grey lighten-5 grey-text text-darken-2 z-depth-2 hoverable">
                    <div class="card-content grey darken-2 grey-text text-lighten-5 z-depth-2">
                      <span class="card-title">Consent Information</span>
                    </div>
                    <div class="section"> </div>
                    <div class="row">
                        <div class="input-field col s4 offset-s2 m3 offset-m1">
                            <label for="{{ consent_deadline_form.deadline_date.id_for_label }}">Consent Deadline</label>
                            {{ consent_deadline_form.deadline_date }}
                        </div>
                        
                        <div class="input-field col s4 offset-s1 m2 offset-m1">
                            <label for="{{ consent_deadline_form.deadline_time.id_for_label }}">{{ consent_deadline_form.deadline_time.label }}</label>
                            {{ consent_deadline_form.deadline_time }}
                        </div>

                        <div class="input-field col s4 offset-s2 m2 offset-m1">
                            <label for="{{ consent_deadline_form.slack_time.id_for_label }}">{{ consent_deadline_form.slack_time.label }} </label>
                            {{ consent_deadline_form.slack_time }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col s8 offset-s2 m4 offset-m1">
                            <div class="row">
                                <div class="col s12">
                                    <ul class="collection activator" id="A" style="text-align: center;">
                                        <center><h5>Consent Format</h5></center>
                                        {% for slug, name in default_fields %}
                                          <li class="collection-item" id="{{ slug }}">
                                            {{ name }} <input type="hidden" name="A" value="{{ slug }}" id="hidden_{{ slug }}">
                                          </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col s8 offset-s2 m5 offset-m1">
                            <div class="row">
                                <center><h5>Available Fields</h5></center>
                                <div class="col s6">
                                    <ul class="collection activator" id="B" style="text-align: center;">
                                        {% for slug, name in optional_fields_1 %}
                                            <li class="collection-item" id="{{ slug }}">
                                                {{ name }} <input type="hidden" name="B" value="{{ slug }}" id="hidden_{{ slug }}">
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="col s6">
                                    <ul class="collection activator" id="C" style="text-align: center;">
                                        {% for slug, name in optional_fields_2 %}
                                            <li class="collection-item" id="{{ slug }}">
                                                {{ name }} <input type="hidden" name="C" value="{{ slug }}" id="hidden_{{ slug }}">
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <center>
                    <button class="waves-effect waves-light btn-large grey darken-2 grey-text text-lighten-5" type="submit"> Add Company </button>
                </center>
            </form>
        </div>
    </div>
</div>


{% endblock %}

{% block custom_js %}
    <script type="text/javascript" src="/static/js/materialize.clockpicker.js"></script>
    <script type="text/javascript" src="/static/js/Sortable.min.js"></script>
    <script type="text/javascript" src="/static/js/company/add.js"></script>
{% endblock %}
