{% extends 'base.html' %}

{% block title %} Change Password {% endblock %}

{% block custom_css %}
	<link type="text/css" rel="stylesheet" href="/static/css/form.css" media="screen,projection" />
{% endblock %}


{% block body_block %} 
	<div id="content" style="min-height: calc(100vh - 120px);">
		<div class="container">
			<div class="row">
				<div class="col s12 m8 offset-m2">
					{% if form.is_bound %}
						<ul class="collection red-text">
							{% for field in form %}
		    				{% for error in field.errors %}
									<li class="collection-item"> {{ error }} </li>
		    				{% endfor %}
							{% endfor %}
	    			</ul>
	    		{% endif %}

          <div class="card z-depth-4">
          	<div class="card-content grey-text text-lighten-5 grey darken-2 z-depth-1">
              <span class="card-title">Change Password</span>
            </div>

            <div class="card-content grey lighten-5">
							<form method="post" id="change_password_form" enctype="multipart/form-data">								
								{% csrf_token %}
								
								<div class="row">
									<div class="col s12">
										<p> Your password must contain at least 8 characters. </p>
										<p> Your password can't be entirely numeric. </p>
									</div>
								</div>

								{% for field in form %}
									<div class="row">
                    <div class="input-field col s12">
                    	<label for="{{ field.id_for_label }}" class="grey-text text-darken-2"> {{ field.label }} </label>
                      {{ field }}
                    </div>
                  </div>
								{% endfor %}
								
								<center>
                  <button class="waves-effect waves-light btn-large grey darken-2 grey-text text-lighten-5 hoverable" id="change_password_button" type="submit"> Change Password </button>
                </center>
                
							</form>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}






{% block custom_js %}

{% endblock %}