{% extends 'base.html' %}

{% block title %} Create Account {% endblock %}

{% block custom_css %}
	<link type="text/css" rel="stylesheet" href="/static/css/datepicker.css" media="screen,projection" />
	<link type="text/css" rel="stylesheet" href="/static/css/form.css" media="screen,projection" />
{% endblock %}




{% block body_block %} 
	<div id="content" style="min-height: calc(100vh - 120px);">
		<div class="container">
			<div class="section" id="form_errors"> 
				{% if error_list %}
					<ul class="collection red-text">
						{% for error in error_list %}
							<li class="collection-item"> {{error}} </li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>

				<div class="row">
					<form method="post" id="create_account_form" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="card grey lighten-5 grey-text text-darken-2 z-depth-2 hoverable">
	                    	<div class="card-content grey darken-2 grey-text text-lighten-5 z-depth-2">
	                      		<span class="card-title"> Preliminary Details </span>
	                    	</div>

	                    	<div class="section"> </div>
							<div class="row">
		                        <div class="input-field col s8 offset-s2 m4 offset-m1">
		                            <label for="{{ user_creation_form.username.id_for_label }}"> 
		                            	Username (same as Admission Number) 
		                            </label>
		                            {{ user_creation_form.username }}
		                        </div>
		                        <div class="input-field col s4 offset-s2 m2 offset-m2">
		                            {{ user_creation_form.password1 }}
		                            <label for="{{ user_creation_form.password1.id_for_label }}"> 
		                            	{{ user_creation_form.password1.label }}
		                            </label>
		                        </div>
		                        <div class="input-field col s4 m2">
		                            {{ user_creation_form.password2 }}
		                            <label for="{{ user_creation_form.password2.id_for_label }}"> 
		                            	Password again 
		                            </label>
		                        </div>
		                    </div>

	                    	<div class="row">
		                        <div class="input-field col s8 offset-s2 m4 offset-m1">
		                            {{ user_form.first_name }}
		                            <label for="{{ user_form.first_name.id_for_label }}"> 
		                            	{{ user_form.first_name.label }}
		                            </label>
		                        </div>
		                        <div class="input-field col s8 offset-s2 m4 offset-m2">
		                            {{ user_form.last_name }}
		                            <label for="{{ user_form.last_name.id_for_label }}"> 
		                            	{{ user_form.last_name.label }}
		                            </label>
		                        </div>
		                    </div>

		                    <div class="row">
		                        <div class="input-field col s8 offset-s2 m4 offset-m1">
		                            {{ user_form.email }}
		                            <label for="{{ user_form.email.id_for_label }}"> 
		                            	{{ user_form.email.label }}
		                            </label>
		                        </div>

		                        <div class="input-field col s8 offset-s2 m4 offset-m2">
		                            {{ personal_detail_form.phone_number }}
		                            <label for="{{ personal_detail_form.phone_number.id_for_label }}">
		                            	{{personal_detail_form.phone_number.label }}
		                            </label>
		                        </div>
		                    </div>
	                    </div>

	                    <div class="card grey lighten-5 grey-text text-darken-2 z-depth-2 hoverable">
	                    	<div class="card-content grey darken-2 grey-text text-lighten-5 z-depth-2">
	                      		<span class="card-title"> Personal Details </span>
	                    	</div>

	                    	<div class="section"> </div>

	                    	<div class="row">
		                        <div class="input-field col s8 offset-s2 m4 offset-m1">
		                        	{{ personal_detail_form.gender }}
		                            <label for="{{ personal_detail_form.gender.id_for_label }}"> 
		                            	{{ personal_detail_form.gender.label }}
		                            </label>
		                        </div>
		                        <div class="input-field col s8 offset-s2 m4 offset-m2">
		                            {{ personal_detail_form.date_of_birth }}
		                            <label for="{{ personal_detail_form.date_of_birth.id_for_label }}"> 
		                            	{{ personal_detail_form.date_of_birth.label }}
		                            </label>
		                        </div>
		                    </div>

		                    <div class="row">
		                        <div class="input-field col s8 offset-s2 m4 offset-m1">
		                        	{{ personal_detail_form.caste_category }}
		                            <label for="{{ personal_detail_form.caste_category.id_for_label }}"> 
		                            	{{ personal_detail_form.caste_category.label }}
		                            </label>
		                        </div>
		                        <div class="input-field col s8 offset-s2 m4 offset-m2">
		                            {{ personal_detail_form.hometown }}
		                            <label for="{{ personal_detail_form.hometown.id_for_label }}"> 
		                            	{{ personal_detail_form.hometown.label }}
		                            </label>
		                        </div>
		                    </div>

							<div class="row">
		                        <div class="input-field col s8 offset-s2 m4 offset-m1">
		                        	{{ personal_detail_form.current_address }}
		                            <label for="{{ personal_detail_form.current_address.id_for_label }}"> 
		                            	{{ personal_detail_form.current_address.label }}
		                            </label>
		                        </div>
		                        <div class="input-field col s8 offset-s2 m4 offset-m2">
		                            {{ personal_detail_form.permanent_address }}
		                            <label for="{{ personal_detail_form.permanent_address.id_for_label }}"> 
		                            	{{ personal_detail_form.permanent_address.label }}
		                            </label>
		                        </div>
		                    </div>

		                    <div class="row">
		                        <div class="input-field col s8 offset-s2 m4 offset-m1">
		                        	{{ personal_detail_form.current_residence_city }}
		                            <label for="{{ personal_detail_form.current_residence_city.id_for_label }}"> 
		                            	{{ personal_detail_form.current_residence_city.label }}
		                            </label>
		                        </div>
		                        <div class="input-field col s8 offset-s2 m4 offset-m2">
		                            {{ personal_detail_form.permanent_residence_city }}
		                            <label for="{{ personal_detail_form.permanent_residence_city.id_for_label }}"> 
		                            	{{ personal_detail_form.permanent_residence_city.label }}
		                            </label>
		                        </div>
		                    </div>

		                    <div class="row">
		                        <div class="input-field col s8 offset-s2 m4 offset-m1">
		                        	{{ personal_detail_form.current_residence_state }}
		                            <label for="{{ personal_detail_form.current_residence_state.id_for_label }}"> 
		                            	{{ personal_detail_form.current_residence_state.label }}
		                            </label>
		                        </div>
		                        <div class="input-field col s8 offset-s2 m4 offset-m2">
		                            {{ personal_detail_form.permanent_residence_state }}
		                            <label for="{{ personal_detail_form.permanent_residence_state.id_for_label }}"> 
		                            	{{ personal_detail_form.permanent_residence_state.label }}
		                            </label>
		                        </div>
		                    </div>
	                    </div>

	                    <div class="card grey lighten-5 grey-text text-darken-2 z-depth-2 hoverable">
	                    	<div class="card-content grey darken-2 grey-text text-lighten-5 z-depth-2">
	                      		<span class="card-title"> Educational Details </span>
	                    	</div>

	                    	<div class="section"> </div>

	                    	<div class="row">
		                        <div class="input-field col s6 offset-s2 m3 offset-m1">
		                        	{{ education_detail_form.ssc }}
		                            <label for="{{ education_detail_form.ssc.id_for_label }}"> 
		                            	{{ education_detail_form.ssc.label }}
		                            </label>
		                        </div>
		                        <div class="input-field col s2 offset-s1 m1">
		                            {{ education_detail_form.ssc_result_type }}
		                            <label for="{{ education_detail_form.ssc_result_type.id_for_label }}"> 
		                            	{{ education_detail_form.ssc_result_type.label }}
		                            </label>
		                        </div>


		                        <div class="input-field col s6 offset-s2 m3 offset-m2">
		                        	{{ education_detail_form.hsc }}
		                            <label for="{{ education_detail_form.hsc.id_for_label }}"> 
		                            	{{ education_detail_form.hsc.label }}
		                            </label>
		                        </div>
		                        <div class="input-field col s2 offset-s1 m1">
		                            {{ education_detail_form.hsc_result_type }}
		                            <label for="{{ education_detail_form.hsc_result_type.id_for_label }}"> 
		                            	{{ education_detail_form.hsc_result_type.label }}
		                            </label>
		                        </div>
		                    </div>
		                    <div class="row">
		                        <div class="input-field col s6 offset-s2 m3 offset-m1">
		                        	{{ education_detail_form.ssc_board_name }}
		                            <label for="{{ education_detail_form.ssc_board_name.id_for_label }}"> 
		                            	{{ education_detail_form.ssc_board_name.label }}
		                            </label>
		                        </div>
		                        <div class="input-field col s2 offset-s1 m1">
		                            {{ education_detail_form.ssc_passing_year }}
		                            <label for="{{ education_detail_form.ssc_passing_year.id_for_label }}"> 
		                            	{{ education_detail_form.ssc_passing_year.label }}
		                            </label>
		                        </div>


		                        <div class="input-field col s6 offset-s2 m3 offset-m2">
		                        	{{ education_detail_form.hsc_board_name }}
		                            <label for="{{ education_detail_form.hsc_board_name.id_for_label }}"> 
		                            	{{ education_detail_form.hsc_board_name.label }}
		                            </label>
		                        </div>
		                        <div class="input-field col s2 offset-s1 m1">
		                            {{ education_detail_form.hsc_passing_year }}
		                            <label for="{{ education_detail_form.hsc_passing_year.id_for_label }}"> 
		                            	{{ education_detail_form.hsc_passing_year.label }}
		                            </label>
		                        </div>
		                    </div>
		                    <div class="row">
		                        <div class="input-field col s5 offset-s2 m2 offset-m1">
		                        	{{ education_detail_form.entrance_exam_score }}
		                            <label for="{{ education_detail_form.entrance_exam_score.id_for_label }}"> 
		                            	{{ education_detail_form.entrance_exam_score.label }}
		                            </label>
		                        </div>
		                        <div class="input-field col s4 offset-s2 m2">
		                            {{ education_detail_form.entrance_exam }}
		                            <label for="{{ education_detail_form.entrance_exam.id_for_label }}"> 
		                            	{{ education_detail_form.entrance_exam.label }}
		                            </label>
		                        </div>

		                        <div class="input-field col s8 offset-s2 m4 offset-m2">
		                            {{ education_detail_form.branch }}
		                            <label for="{{ education_detail_form.branch.id_for_label }}"> 
		                            	{{ education_detail_form.branch.label }}
		                            </label>
		                        </div>
		                    </div>
		                    
		                    <div class="container">
			                    <div class="row">
						            <center class="card-content z-depth-2 teal-text text-darken-2">
					              		Fill your aggregate CGPA at the end of each semester. <strong> DO NOT </strong> fill your SGPA.
					              	</center>
			                    </div>
		                    </div>

		                    <div class="row">
		                    	<div class="input-field col s5 m2 offset-s1 offset-m1">
		                    		<input type="number" step="0.01" name="cgpa" id="sem_1">
		                    		<label for="sem_1"> CGPA Semester 1 </label>
		                    	</div>
		                    	<div class="input-field col s5 m2">
		                    		<input type="number" step="0.01" name="cgpa" id="sem_2">
		                    		<label for="sem_2"> CGPA Semester 2 </label>
		                    	</div>
		                    	<div class="input-field col s5 m2 offset-s1">
		                    		<input type="number" step="0.01" name="cgpa" id="sem_3">
		                    		<label for="sem_3"> CGPA Semester 3 </label>
		                    	</div>
		                    	<div class="input-field col s5 m2">
		                    		<input type="number" step="0.01" name="cgpa" id="sem_4">
		                    		<label for="sem_4"> CGPA Semester 4 </label>
		                    	</div>
		                    	<div class="input-field col s5 m2 offset-s1">
		                    		<input type="number" step="0.01" name="cgpa" id="sem_5">
		                    		<label for="sem_5"> CGPA Semester 5 </label>
		                    	</div>
		                    </div>

		                    <div class="row">
		                    	<div class="input-field col s5 m2 offset-s1 offset-m1">
		                    		<input type="number" step="0.01" name="cgpa" id="sem_6">
		                    		<label for="sem_6"> CGPA Semester 6 </label>
		                    	</div>
		                    	<div class="input-field col s5 m2">
		                    		<input type="number" step="0.01" name="cgpa" id="sem_7">
		                    		<label for="sem_7"> CGPA Semester 7 </label>
		                    	</div>
		                    	<div class="input-field col s5 m2 offset-s1">
		                    		<input type="number" step="0.01" name="cgpa" id="sem_8">
		                    		<label for="sem_8"> CGPA Semester 8 </label>
		                    	</div>
		                    	<div class="input-field col s5 m2">
		                    		<input type="number" step="0.01" name="cgpa" id="sem_9">
		                    		<label for="sem_9"> CGPA Semester 9 </label>
		                    	</div>
		                    	<div class="input-field col s5 m2 offset-s1">
		                    		<input type="number" step="0.01" name="cgpa" id="sem_10">
		                    		<label for="sem_10"> CGPA Semester 10 </label>
		                    	</div>
		                    </div>

		                    <div class="row">
		                    	<div class="input-field col s2 offset-s1">
		                    		{{ education_detail_form.current_backlogs }}
		                            <label for="{{ education_detail_form.current_backlogs.id_for_label }}"> 
		                            	{{ education_detail_form.current_backlogs.label }}
		                            </label>
		                    	</div>
		                    	<div class="input-field col s2">
		                    		{{ education_detail_form.total_backlogs }}
		                            <label for="{{ education_detail_form.total_backlogs.id_for_label }}"> 
		                            	{{ education_detail_form.total_backlogs.label }}
		                            </label>
		                    	</div>

		                    	<div class="col s5 offset-s1">
                                        <i class="material-icons grey-text text-darken-2 left" style="margin-top: 25px;">attach_file</i>
                                        <div class="file-field input-field">
                                             <div class="waves-effect waves-light btn grey darken-2 grey-text text-lighten-5">
                                                Attach Resume 
                                                <span class="filename">
                                                		{{ education_detail_form.resume }}
                                           		</span>
                                            </div>
                                            <span class="col s4" class="truncate" style="padding-top: 12px;"> No file chosen </span>
                                        </div>
                                </div>
		                    </div>

		                    <div class="row">
		                    	<div class="input-field col s4 offset-s1">
		                    		{{ education_detail_form.college_passout_year }}
		                            <label for="{{ education_detail_form.college_passout_year.id_for_label }}"> 
		                            	{{ education_detail_form.college_passout_year.label }}
		                            </label>
		                    	</div>

		                    	<div class="col s6">
		                    		<center class="card-content z-depth-2 teal-text text-darken-2">
					              		e.g. If your final academic year is 2017-18, type '2018'.
					              	</center>
                                </div>

		                    </div>
	                    </div>

	                    <center>
		                    <button class="waves-effect waves-light btn-large grey darken-2 grey-text text-lighten-5 hoverable" id="create_account_button" type="submit"> Create Account </button>
		                </center>
					</form>
				</div>
			
		</div>
	</div>
{% endblock %}






{% block custom_js %}
	<script type="text/javascript" src="/static/js/consent/create_account.js"></script>
{% endblock %}