{% extends 'base.html' %}

{% block title %} Home {% endblock %}


{% block body_block %} 

<div id="content" style="min-height: calc(100vh - 120px);">
  <div class="section"> </div>
        
      <div class="container">
        {% for three_companies in companies_list %}
          <div class="row">
              {% for company in three_companies %}
                <div class="col s12 m4 l4">
                  <div class="card z-depth-2 hoverable">
                    <a href=" {{ company.url }}">
                      <div class="card-content grey-text text-lighten-5 grey darken-2 z-depth-1">
                        <span class="card-title"> {{ company.company }} </span>
                          {% if company.new_badge %}
                            <span class="new badge grey lighten-5 grey-text text-darken-2" data-badge-caption="NEW"></span>
                          {% endif %}
                        <p> {{ company.designation }} </p>
                      </div>
                    </a>
                      <table class="bordered centered responsive-table grey lighten-5">
                        <tr> 
                          <td> <strong> CTC </strong> </td>
                          <td> {{ company.ctc }} LPA </td>
                        </tr>

                        <tr> 
                          <td> <strong> Date </strong> </td>
                          <td> {{ company.date }} </td>
                        </tr>
                      </table>

                    <a href="/consent/home">
                      <div class="card-action grey lighten-5"> 
                        <div class="grey-text text-darken-2" value="Apply Consent">
                          <strong> APPLY CONSENT </strong>
                            <i class="material-icons right">send</i>

                        </div> 
                      </div>
                    </a>

                  </div>
                </div>
              {% endfor %}
        </div>
      {% endfor %}
  </div>
</div>
{% endblock %}