{% extends 'base.html' %}

{% block title %} Sign In {% endblock %}


{% block body_block %} 

<div id="content" class="" style="min-height: calc(100vh - 120px);">
  <div class="valign-wrapper" style="width:100%;height:80%;position: absolute;">
    <div class="valign" style="width:100%;">
        <div class="container">
           <div class="row">
              <div class="col s12 m6 offset-m3">
                 <div class="card z-depth-4">
                    <div class="card-content grey-text text-lighten-5 grey darken-2 z-depth-1">
                       <span class="card-title">Sign In</span>
                    </div>

                    <div class="card-content grey lighten-5">
                      <form id="login_form" method="post" role="form" action="/consent/login/">
                          {% csrf_token %}

                          <div class="row">
                            <div class="input-field col s12">
                              <input id="email" name="email" type="email" class="validate">
                              <label for="email" class="grey-text text-darken-2">Email</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s12">
                              <input id="password" name="password" type="password" class="validate">
                              <label for="password" class="grey-text text-darken-2">Password</label>
                            </div>
                          </div>
                          
                          <button type="submit" class="btn grey darken-2 waves-effect grey-text text-lighten-5" value="Sign In">
                            Sign In <i class="material-icons right">account_circle</i>
                          </button>
                      </form>
                    </div>
                 </div>
              </div>
           </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}