{% extends 'base.html' %}


{% block title %} Merit List: {{branch}}, Batch of {{batch}} {% endblock %}

{% block custom_css %}
  <link type="text/css" rel="stylesheet" href="/static/css/company/job.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="/static/css/consent/merit_list.css" media="screen,projection" />
{% endblock %}


{% block body_block %}
    <div id="content" style="min-height: calc(100vh - 120px);">
        <div class="container">
            <div class="col s12 m12">
                <div class="card cgpa hoverable grey-text text-darken-2 grey lighten-5 z-depth-2">
                    <div class="card-content grey-text text-lighten-5 red lighten-3 z-depth-1">
                        <span class="card-title"> Merit List: {{branch}}, Batch of {{batch}} </span>
                    </div>
                    <div class="card-content">
                        <table class="striped centered horizontal-scroll">
                            <thead>
                                <tr>
                                    <th class="no-wrap"> Sr No </th>
                                    <th class="no-wrap"> Admission No </th>
                                    <th> Name </th>
                                    <th class="no-wrap"> Date of Birth </th>
                                    <th> Category </th>
                                    <th> Hometown </th>
                                    <th> SSC </th>
                                    <th> HSC </th>

                                    {% for sem in semesters %}
                                        <th class="no-wrap"> Sem {{ sem }} </th>
                                    {% endfor %}

                                    <th> Email ID </th>
                                    <th> Phone </th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for row in merit_list %}
                                    <tr>
                                        {% for item in row %}
                                            {% if item %}
                                                <td class="no-wrap"> {{ item }} </td>
                                            {% else %}
                                                <td> </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_js %}
  <script type="text/javascript" src="/static/js/company/job.js"></script>
  <script type="text/javascript" src="/static/js/jquery.succinct.min.js"></script>
{% endblock %}
