{% extends 'base.html' %}

{% block title %} Your Account {% endblock %}

{% block custom_css %}
	<link type="text/css" rel="stylesheet" href="/static/css/consent/profile.css" media="screen,projection" />
{% endblock %}


{% block body_block %}

	<div id="content" style="min-height: calc(100vh - 120px);">
		<div class="container">

			<div class="row">
				<div class="col s12 m10 offset-m1">
					{% if messages %}
		        <div class="section" id="messages">
		          <ul class="collection green-text center">
		            {% for message in messages %}
		              <li class="collection-item"> {{ message }} </li>
		            {% endfor %}
		          </ul>
		        </div>
		      {% endif %}

		      <div class="card z-depth-2">						
						<div class="card-content grey-text text-lighten-5 grey darken-2 z-depth-1">
	            <span class="card-title"> Preliminary Details </span>
	          </div>
	          
	          <div class="col s12 m6">
              <div class="card hoverable grey-text text-darken-2 grey lighten-5 z-depth-2">
                  <div class="card-content">
                    <span class="card-title"> Username </span>
                    <p> {{ usercreation.username}} </p>
                  </div>
              </div>
            </div>

            <div class="col s12 m6">
              <div class="card hoverable grey-text text-darken-2 grey lighten-5 z-depth-2">
                  <div class="card-content">
                    <span class="card-title"> Password </span>
                    <p> <a href="{% url 'change_password'%}"> Change Password Here </a> </p>
                  </div>
              </div>
            </div>

            <div class="col s12 m6">
              <div class="card hoverable grey-text text-darken-2 grey lighten-5 z-depth-2">
                  <div class="card-content">
                    <span class="card-title"> Name </span>
                    <p> {{ usercreation.first_name }} {{ usercreation.last_name }} </p>
                  </div>
              </div>
            </div>

            <div class="col s12 m6">
              <div class="card hoverable grey-text text-darken-2 grey lighten-5 z-depth-2">
                  <div class="card-content">
                    <span class="card-title"> Email </span>
                    <p> {{ usercreation.email }} </p>
                  </div>
              </div>
            </div>

            <div class="col s12 m6">
              <div class="card hoverable grey-text text-darken-2 grey lighten-5 z-depth-2">
                  <div class="card-content">
                    <span class="card-title"> Phone Number </span>
                    <p> {{ personaldetail.phone_number }} </p>
                  </div>
              </div>
            </div>

            <div class="col s12 m6">
              <div class="card hoverable grey-text text-darken-2 grey lighten-5 z-depth-2">
                  <div class="card-content">
                    <span class="card-title"> Resume </span>
                    {% if education_detail.resume %}
                      <p> <a href="{{ education_detail.resume.url }}" class="truncate"> 
                        {{ education_detail.resume_filename }}
                      </a> </p>
                    {% else %}
                      <p> <a href="{% url 'edit_profile' %}">  Upload your Resume </a> </p>
                    {% endif %}
                  </div>
              </div>
            </div>

	        </div>
	      </div>
	    </div>

	    <div class="row">
				<div class="col s12 m10 offset-m1">
          <div class="card z-depth-2">
						
						<div class="card-content grey-text text-lighten-5 grey darken-2 z-depth-1">
	            <span class="card-title"> Personal Details </span>
	          </div>
	          
	          <div class="col s12 m6">
              <div class="card hoverable grey-text text-darken-2 grey lighten-5 z-depth-2">
                  <div class="card-content">
                    <span class="card-title"> Gender </span>
                    <p> {{ personaldetail.get_gender_display }} </p>
                  </div>
              </div>
            </div>

            <div class="col s12 m6">
              <div class="card hoverable grey-text text-darken-2 grey lighten-5 z-depth-2">
                  <div class="card-content">
                    <span class="card-title"> Date of Birth </span>
                    <p> {{ personaldetail.date_of_birth }} </p>
                  </div>
              </div>
            </div>

            <div class="col s12 m6">
              <div class="card hoverable grey-text text-darken-2 grey lighten-5 z-depth-2">
                  <div class="card-content">
                    <span class="card-title"> Caste Category </span>
                    <p> {{ personaldetail.get_caste_category_display }} </p>
                  </div>
              </div>
            </div>

            <div class="col s12 m6">
              <div class="card hoverable grey-text text-darken-2 grey lighten-5 z-depth-2">
                  <div class="card-content">
                    <span class="card-title"> Hometown </span>
                    <p> {{ personaldetail.hometown }} </p>
                  </div>
              </div>
            </div>

            <div class="col s12 m6">
              <div class="card address hoverable grey-text text-darken-2 grey lighten-5 z-depth-2">
                  <div class="card-content">
                    <span class="card-title"> Current Address </span>
                    {% if personaldetail.current_address %}
                      <p> {{ personaldetail.current_address }} </p>
                    {% else %}
                      <p> <a href="{% url 'edit_profile' %}"> Add your current address </a> </p>
                    {% endif %}
                  </div>
              </div>
            </div>

            <div class="col s12 m6">
              <div class="card address hoverable grey-text text-darken-2 grey lighten-5 z-depth-2">
                  <div class="card-content">
                    <span class="card-title"> Permanent Address </span>
                    {% if personaldetail.permanent_address %}
                      <p> {{ personaldetail.permanent_address }} </p>
                    {% else %}
                      <p> <a href="{% url 'edit_profile' %}"> Add your permanent address </a> </p>
                    {% endif %}
                  </div>
              </div>
            </div>

            <div class="col s12 m6">
              <div class="card hoverable grey-text text-darken-2 grey lighten-5 z-depth-2">
                  <div class="card-content">
                    <span class="card-title"> Current City, State </span>
                    <p>
                      {% if personaldetail.current_residence_city %}
                        {{ personaldetail.current_residence_city }}{% if personaldetail.current_residence_state %}, {{ personaldetail.current_residence_state }}
                        {% endif %}
                      {% elif personaldetail.current_residence_state %}
                        {{ personaldetail.current_residence_state }}
                      {% else %}
                        <a href="{% url 'edit_profile' %}"> Add current city/state </a>
                      {% endif %}

                      {% if personaldetail.current_pincode %}
                        [{{ personaldetail.current_pincode }}]
                      {% endif %}
                    </p>
                  </div>
              </div>
            </div>

            <div class="col s12 m6">
              <div class="card hoverable grey-text text-darken-2 grey lighten-5 z-depth-2">
                  <div class="card-content">
                    <span class="card-title"> Permanent City, State </span>
                    <p>
                      {% if personaldetail.permanent_residence_city %}
                        {{ personaldetail.permanent_residence_city }}{% if personaldetail.permanent_residence_state %}, {{ personaldetail.permanent_residence_state }}
                        {% endif %}
                      {% elif personaldetail.permanent_residence_state %}
                        {{ personaldetail.permanent_residence_state }}
                      {% else %}
                        <a href="{% url 'edit_profile' %}"> Add permanent city/state </a>
                      {% endif %}

                      {% if personaldetail.permanent_pincode %}
                        [{{ personaldetail.permanent_pincode }}]
                      {% endif %}
                    </p>
                  </div>
              </div>
            </div>

	        </div>
	      </div>
	    </div>

	    <div class="row">
				<div class="col s12 m10 offset-m1">
          <div class="card z-depth-2">
						
						<div class="card-content grey-text text-lighten-5 grey darken-2 z-depth-1">
	            <span class="card-title"> Education Details </span>
	          </div>
	          
	          <div class="col s12 m6">
              <div class="card board-exam hoverable grey-text text-darken-2 grey lighten-5 z-depth-2">
                  <div class="card-content">
                    <span class="card-title"> SSC (Standard X) </span>
                    <table class="striped">
                      <col class="board-exam-fields">
                      <col class="board-exam-content">
                      <tbody>
                        <tr>
                          <td> <strong> Marks </strong> </td>
                          <td> {{ education_detail.ssc }} {{ education_detail.get_ssc_result_type_display }} </td>
                        </tr>

                        <tr>
                          <td> <strong> Passing Year </strong> </td>
                          <td> {{ education_detail.ssc_passing_year }} </td>
                        </tr>

                        <tr>
                          <td> <strong> Board </strong> </td>
                          <td> {{ education_detail.ssc_board_name }} </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </div>
            </div>

            <div class="col s12 m6">
              <div class="card board-exam hoverable grey-text text-darken-2 grey lighten-5 z-depth-2">
                  <div class="card-content">
                    <span class="card-title"> HSC (Standard X) </span>
                    <table class="striped">
                      <col class="board-exam-fields">
                      <col class="board-exam-content">
                      <tbody>
                        <tr>
                          <td> <strong> Marks </strong> </td>
                          <td> {{ education_detail.hsc }} {{ education_detail.get_hsc_result_type_display }} </td>
                        </tr>

                        <tr>
                          <td> <strong> Passing Year </strong> </td>
                          <td> {{ education_detail.hsc_passing_year }} </td>
                        </tr>

                        <tr>
                          <td> <strong> Board </strong> </td>
                          <td> {{ education_detail.hsc_board_name }} </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </div>
            </div>

						<div class="col s6 m6">
              <div class="card cgpa hoverable grey-text text-darken-2 grey lighten-5 z-depth-2">
                  <div class="card-content">
                  	<div class="card-title"> College Results </div>
                    <table class="striped">
                    	<thead>
                    		<tr>
                    			<th> Semester </th>
                    			<th> CGPA </th>
                    		</tr>
                    	</thead>

                    	<tbody>
                    		<tr>
                    			<td> 1 </td>
                    			<td> {{semester_var.1}} </td>
                    		</tr>
                    		<tr>
                    			<td> 2 </td>
                    			<td> {{semester_var.2}} </td>
                    		</tr>

	                    	{% if semester_var.5 %}
	                    		<tr>
	                    			<td> 3 </td>
	                    			<td> {{semester_var.3}} </td>
	                    		</tr>
	                    	{% endif %}

                    		{% if semester_var.4 %}
	                    		<tr>
	                    			<td> 4 </td>
	                    			<td> {{semester_var.4}} </td>
	                    		</tr>
                    		{% endif %}

                    		{% if semester_var.5 %}
                    			<tr>
	                    			<td> 5 </td>
	                    			<td> {{semester_var.5}} </td>
	                    		</tr>
                    		{% endif %}

                    		{% if semester_var.6 %}
                    			<tr>
	                    			<td> 6 </td>
	                    			<td> {{semester_var.6}} </td>
	                    		</tr>
                    		{% endif %}
                    		
                    		{% if semester_var.7 %}
                    			<tr>
	                    			<td> 7 </td>
	                    			<td> {{semester_var.7}} </td>
	                    		</tr>
                    		{% endif %}

                    		{% if semester_var.8 %}
                    			<tr>
	                    			<td> 8 </td>
	                    			<td> {{semester_var.8}} </td>
	                    		</tr>
                    		{% endif %}

                    		{% if semester_var.9 %}
                    			<tr>
	                    			<td> 9 </td>
	                    			<td> {{semester_var.9}} </td>
	                    		</tr>
                    		{% endif %}

                    		{% if semester_var.10 %}
                    			<tr>
	                    			<td> 10 </td>
	                    			<td> {{semester_var.10}} </td>
	                    		</tr>
                    		{% endif %}
                    	</tbody>
                    </table>
                  </div>
              </div>
            </div>

            <div class="col s12 m6">
              <div class="card hoverable grey-text text-darken-2 grey lighten-5 z-depth-2">
                  <div class="card-content">
                    <span class="card-title"> {{ education_detail.get_entrance_exam_display }} </span>
                    <p> {{ education_detail.entrance_exam_score }} </p>
                  </div>
              </div>
            </div>

            <div class="col s12 m6">
              <div class="card hoverable grey-text text-darken-2 grey lighten-5 z-depth-2">
                  <div class="card-content">
                    <span class="card-title"> Branch </span>
                    <p> {{ education_detail.branch }} </p>
                  </div>
              </div>
            </div>

             <div class="col s12 m6">
              <div class="card hoverable grey-text text-darken-2 grey lighten-5 z-depth-2">
                  <div class="card-content">
                    <span class="card-title"> Backlogs </span>
                    <p> <strong> Current: </strong> {{ education_detail.current_backlogs }} </p>
                  	<p> <strong> Total: </strong> {{ education_detail.total_backlogs }} </p>
                  </div>
              </div>
            </div>

             <div class="col s12 m6">
              <div class="card hoverable grey-text text-darken-2 grey lighten-5 z-depth-2">
                  <div class="card-content">
                    <span class="card-title"> College Passout Year </span>
                    <p> {{ education_detail.college_passout_year }} </p>
                  </div>
              </div>
            </div>

	        </div>
	      </div>
	    </div>
	  	
	  	<center>
       	<a href="{% url 'edit_profile' %}">
          <button class="waves-effect waves-light btn-large grey darken-2 grey-text text-lighten-5 hoverable" id="create_account_button" type="submit">Edit Profile</button>
      	</a>
    	</center>

	  </div>
	</div>


{% endblock %}


{% block custom_js %}
	<script type="text/javascript" src="/static/js/consent/create_account.js"></script>
{% endblock %}

