{% extends 'base.html' %}

{% block title %} Your Account {% endblock %}

{% block custom_css %}
	<link type="text/css" rel="stylesheet" href="/static/css/datepicker.css" media="screen,projection" />
	<link type="text/css" rel="stylesheet" href="/static/css/form.css" media="screen,projection" />
{% endblock %}




{% block body_block %}
	<div id="content" style="min-height: calc(100vh - 120px);">
		<div class="container">
			<div class="section" id="form_errors">
				{% if error_list %}
					<ul class="collection red-text">
						{% for error in error_list %}
							<li class="collection-item"> {{error}} </li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>

				<div class="row">
						<div class="card grey lighten-5 grey-text text-darken-2 z-depth-2 hoverable">
	                    	<div class="card-content grey darken-2 grey-text text-lighten-5 z-depth-2">
	                      		<span class="card-title"> Preliminary Details </span>
	                    	</div>

	                    	<div class="section"> </div>
							<div class="row">
		                        <div class="input-field col s6 offset-s1 m5 offset-m1">

		                            	<h6><b>Username (same as Admission Number)</b> </h6>

		                            {{ usercreation.username}}
		                        </div>
		                        <div class="input-field col s4 offset-s1 m5 offset-m1">

		                            	<h6><b><a href="{% url 'change_password'%}">Change Password</a></b> </h6>


		                        </div>
		                    </div>

	                    	<div class="row">
		                        <div class="input-field col s8 offset-s2 m4 offset-m1">

		                            <h6>
		                            	<b>First_name</b>
		                            </h6>
		                            {{ usercreation.first_name }}
		                        </div>
		                        <div class="input-field col s8 offset-s2 m4 offset-m2">
		                            <h6>
		                            	<b>Last_name</b>
		                            </h6>
		                           {{ usercreation.last_name }}

		                        </div>
		                    </div>

		                    <div class="row">
		                        <div class="input-field col s8 offset-s2 m4 offset-m1">
		                            <h6>
		                            	<b>Email</b>
		                            </h6>
		                           {{ usercreation.email }}

		                        </div>
		                        <div class="input-field col s8 offset-s2 m4 offset-m2">

		                            <h6>
		                            	<b>Phone_number</b>

		                            </h6>
		                            {{ personaldetail.phone_number }}
		                        </div>

		                    </div>
		                </div>
		            </div>
		                    <div class="card grey lighten-5 grey-text text-darken-2 z-depth-2 hoverable">
	                    	<div class="card-content grey darken-2 grey-text text-lighten-5 z-depth-2">
	                      		<span class="card-title"> Personal Details </span>
	                    	</div>

	                    	<div class="section"> </div>

	                    	<div class="row">
		                        <div class="input-field col s8 offset-s2 m4 offset-m1">

		                            <h6>
		                            <b>
		                            Gender
		                            </b>
		                            </h6>
		                            {{ personaldetail.gender }}
		                        </div>
		                        <div class="input-field col s8 offset-s2 m4 offset-m2">

		                            <h6><b>Date of Birth</b> </h6>
		                            {{ personaldetail.date_of_birth }}
		                        </div>
		                    </div>

		                     <div class="row">
		                        <div class="input-field col s8 offset-s2 m4 offset-m1">
		                            <h6> <b>Caste Category</b>
		                            </h6>
		                          {{ personaldetail.caste_category }}

		                        </div>
		                        <div class="input-field col s8 offset-s2 m4 offset-m2">

		                            <h6>
		                            	<b>Hometown</b>
		                            </h6>
		                            {{ personaldetail.hometown }}
		                        </div>

		                    </div>
		                    <div class="row">
		                        <div class="input-field col s8 offset-s2 m4 offset-m1">

		                            <h6>
		                            	<b>Current address</b>
		                            </h6>
		                            {{ personaldetail.current_address }}
		                        </div>
		                        <div class="input-field col s8 offset-s2 m4 offset-m2">

		                            <h6>
		                            	<b>Permanent Address</b>
		                            </h6>
		                            {{ personaldetail.permanent_address }}
		                        </div>
		                    </div>

		                    <div class="row">
		                        <div class="input-field col s8 offset-s2 m4 offset-m1">

		                            <h6>
		                            	<b>Current Residence City</b>
		                            </h6>
		                            {{ personaldetail.current_residence_city }}
		                        </div>
		                        <div class="input-field col s8 offset-s2 m4 offset-m2">

		                            <h6>
		                            	<b>Permanent Residence City</b>
		                            </h6>
		                            {{ personaldetail.permanent_residence_city }}
		                        </div>
		                    </div>

		                    <div class="row">
		                        <div class="input-field col s8 offset-s2 m4 offset-m1">

		                            <h6>
		                            	<b>Current Residence State</b>
		                            </h6>
		                            {{ personaldetail.current_residence_state }}
		                        </div>
		                        <div class="input-field col s8 offset-s2 m4 offset-m2">

		                            <h6>
		                            	<b>Permanent Residence State</b>
		                            </h6>
		                            {{ personaldetail.permanent_residence_state }}
		                        </div>
		                    </div>
	                    </div>
	                    <div class="card grey lighten-5 grey-text text-darken-2 z-depth-2 hoverable">
	                    	<div class="card-content grey darken-2 grey-text text-lighten-5 z-depth-2">
	                      		<span class="card-title"> Educational Details </span>
	                    	</div>

	                    	<div class="section"> </div>

	                    	<div class="row">
		                        <div class="input-field col s6 offset-s2 m3 offset-m1">

		                            <h6><b>
		                            	SSC
		                            </b>
		                            </h6>
		                            {{ education_detail.ssc }}
		                        </div>
		                        <div class="input-field col s2 offset-s1 m1">

		                            <h6>
		                            	<b>Ssc Result Type</b>
		                            </h6>
		                            {{ education_detail.ssc_result_type }}
		                        </div>


		                        <div class="input-field col s6 offset-s2 m3 offset-m2">

		                            <h6>
		                            	<B>HSC</B>
		                            </h6>
		                            {{ education_detail.hsc }}
		                        </div>
		                        <div class="input-field col s2 offset-s1 m1">

		                            <h6>
		                            	<b>Hsc Result Type</b>
		                            </h6>
		                            {{ education_detail.hsc_result_type }}
		                        </div>
		                    </div>
		                    <div class="row">
		                        <div class="input-field col s6 offset-s2 m3 offset-m1">

		                            <h6>
		                            	<B>ssc_board_name</B>
		                            </h6>
		                            {{ education_detail.ssc_board_name }}
		                        </div>
		                        <div class="input-field col s2 offset-s1 m1">

		                            <h6>
		                            	<b>Ssc Passing Year</b>
		                            </h6>
		                            {{ education_detail.ssc_passing_year }}
		                        </div>


		                        <div class="input-field col s6 offset-s2 m3 offset-m2">

		                            <h6>
		                            	<b>HSC BOARD NAME</b>
		                            </h6>
		                            {{education_detail.hsc_board_name }}
		                        </div>
		                        <div class="input-field col s2 offset-s1 m1">

		                            <h6>
		                            	<b>hsc_passing_year</b>
		                            </h6>
		                            {{ education_detail.hsc_passing_year }}
		                        </div>
		                    </div>
		                    <div class="row">
		                        <div class="input-field col s5 offset-s2 m4 offset-m1">

		                            <h6>
		                            	<b>Entrance Exam Score</b>
		                            </h6>
		                            {{ education_detail.entrance_exam_score }}
		                        </div>
		                        <div class="input-field col s4 offset-s1 m1">

		                            <h6>
		                            	<b>Entrance Exam</b>
		                            </h6>
		                            {{ education_detail.entrance_exam }}
		                        </div>

		                        <div class="input-field col s8 offset-s2 m4 offset-m2">

		                            <h6>
		                            	<b>Branch</b>
		                            </h6>
		                            {{ education_detail.branch }}
		                        </div>
		                    </div>
		                    <div class="container">
			                    <div class="row">
						            <center class="card-content z-depth-2 teal-text text-darken-2">
					              		Your Details up Here. This is your<strong> CGPA </strong> not your SGPA.
					              	</center>
			                    </div>
		                    </div>

		                    <div class="row">
		                    	<div class="input-field col s5 m2 offset-s1 offset-m1">

		                    		<p><b>CGPA Semester 1 </b></p>
		                    		{{semester_var.1}}
		                    	</div>
		                    	<div class="input-field col s5 m2">

		                    		<p><b> CGPA Semester 2 </b></p>
		                    		{{semester_var.2}}
		                    	</div>
		                    	<div class="input-field col s5 m2 offset-s1">

		                    		<p><b> CGPA Semester 3 </b></p>
		                    		{{semester_var.3}}
		                    	</div>
		                    	<div class="input-field col s5 m2">

		                    		<p><b> CGPA Semester 4 </b></p>
		                    		{{semester_var.4}}
		                    	</div>
		                    	<div class="input-field col s5 m2 offset-s1">

		                    		<p><b> CGPA Semester 5 </b></p>
		                    		{{semester_var.5}}
		                    	</div>
		                    </div>

		                    <div class="row">
		                    	<div class="input-field col s5 m2 offset-s1 offset-m1">

		                    		<p><b> CGPA Semester 6 </b></p>
		                    		{{semester_var.6}}
		                    	</div>
		                    	<div class="input-field col s5 m2">

		                    		<p><b> CGPA Semester 7 </b></p>
		                    		{{semester_var.7}}
		                    	</div>
		                    	<div class="input-field col s5 m2 offset-s1">

		                    		<p><b> CGPA Semester 8 </b></p>
		                    		{{semester_var.8}}
		                    	</div>
		                    	<div class="input-field col s5 m2">

		                    		<p><b> CGPA Semester 9 </b></p>
		                    		{{semester_var.9}}
		                    	</div>
		                    	<div class="input-field col s5 m2 offset-s1">

		                    		<p><b> CGPA Semester 10 </b></p>
		                    		{{semester_var.10}}
		                    	</div>
		                    </div>
		                       <div class="row">
		                    	<div class="input-field col s2 offset-s1">
		                    		{{ education_detail_form.current_backlogs }}
		                            <p><b>
		                            Currentbacklogs
		                            </b></p>
		                            {%if education_details.current_backlogs%}
		                            {{education_details.current_backlogs}}
		                            {%else%}
		                            0
		                            {%endif%}
		                    	</div>
		                    	<div class="input-field col s2">
		                            <p><b>
		                            	Totalbacklogs
		                            </b></p>
		                            {%if education_details.total_backlogs%}
		                            {{education_details.total_backlogs}}
		                            {%else%}
		                            0
		                            {%endif%}

		                    	</div>
		                    <div class="row">
		                    	<div class="input-field col s4 ">

		                            <p><b>
		                            	CollegePassoutYear
		                            </b></p>
		                            {{ education_detail.college_passout_year }}
		                    	</div>



		                    </div>
	                    </div>
	                </div>




	                     <center>
	                     	<a href="{% url 'edit_profile' %}">
		                      <button class="waves-effect waves-light btn-large grey darken-2 grey-text text-lighten-5 hoverable" id="create_account_button" type="submit">Edit Profile</button>
		                  </a>
		                </center>
		            </div>



		</div>
{% endblock %}






{% block custom_js %}
	<script type="text/javascript" src="/static/js/consent/create_account.js"></script>
{% endblock %}

