.activator {
  cursor: pointer;
}


.clockpicker-span-minutes {
    color: #fafafa;
}

.clockpicker-span-am-pm {
  color: #fafafa; 
}

.clockpicker-display-column {
  color: #fafafa;
}

.btn-floating.btn-flat.active {
  background-color: #e0e0e0; 
}

.clockpicker-tick.active, .clockpicker-tick:hover {
    background-color: #e0e0e0; 
}

